/* ------------------------------------------------------------ */
/* imports and utilities */

/* 3rd-party CSS files */
@import 'vendor/h5bp-head.css';
@import 'vendor/normalize.css';
@import 'vendor/h5bp-tail.css';

/* use a more intuitive box sizing model (http://is.gd/wNVjAo) */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* Scale down images and embedded videos so they don't overflow their parents */
img, object { max-width: 100%; }

/*	Development/layout aid. Remove the comments
	on this rule in order to draw boxes around DIVs
	and other elements used for layout. */
/*
div, main, article, section, aside, hgroup, header, footer, address, nav {
	border: 1px solid rgba(255,0,0,0.15) !important;
	background: rgba(255,0,0,0.05) !important;
}
*/


/* ------------------------------------------------------------ */
/* start project-specifc styles below this line */

body {
	font-family: "Oswald", "Open Sans", Helvetica, Arial, sans-serif;
}

/*	Generally, you will only want one container element in
	the document, wrapping around the main content area.
	If you have more than one container, you are probably doing
	something wrong.
*/


/* ------------------------------------------------------------ */
/* media query containing styles for larger screens */
@media (min-width: 720px) {

/*HOME PAGE CSS*/
.h-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 0.3fr 1fr;
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
}

.homebody {
	background-image: url("../img/background.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.homepage {
	grid-column: 1 / 3;
}

h1 {
	text-align: center;
	font-style: normal;
	color: white;
	font-size: 130px;
	line-height: 1em;
	padding-top: 10%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.information {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	font-size: 20px;
	font-style: lighter;
	background-color: #ECF2FE;
	color: black;
	line-height: 2em;
	padding: 8%;
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 20%;
}

strong {
	font-size: 35px;
}

/*global navbar*/
.global-nav {
	position: inherit;
}
.global-nav ul {
	padding: 0;
	display: flex;
	flex-direction: row;
	grid-column: 1 / 3;
}

.global-nav li {
	list-style-type: none;
	flex: 3 1 300px;
	text-align: center;
}

.global-nav a {
	display: block;
	background: #364B2B;
	color: #fff;
	text-decoration: none;
	padding: 1em;
	transition: all 1s;
	font-size: 16px;
	margin-right: 2em;
	margin-left: 2em;
}

.global-nav a:hover {
	background: #1E3313;
	transition: all 2s;
}

/*WHITE MOUNTAINS PAGE CSS*/
.m-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
}

.mountainsbody {
	background-image: url("../img/summit-view.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.valley-headline {
	text-align: center;
	font-style: normal;
	color: white;
	font-size: 90px;
	line-height: 1em;
	padding-top: 5%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.mountainspage {
	grid-column: 2 / 5;
	grid-row: 1 / 2;
	text-shadow: 5px 3px 12px rgba(0,0,0,0.5);
}

.one {
	grid-column: 1 / 3;
	grid-row: 2 / 3;
	background-color: #D7CCEC;
	padding: 1em;
}

.illustration {
	grid-column: 3 / 5;
	grid-row: 2 / 3;
	/*background-color: rgba(225, 225, 225, 0.3)*/
	padding-top: 1em;
	padding-bottom: 1em;
}

.two {
	grid-column: 3 / 5;
	grid-row: 3 / 4;
	background-color: #D7CCEC;
	padding: 1em;
}

.illustration2 {
	grid-column: 1 / 3;
	grid-row: 3 / 4;
	padding-top: 1em;
	padding-bottom: 1em;
}

.three {
	grid-column: 1 / 3;
	grid-row: 4 / 5;
	background-color: #D7CCEC;
	padding: 1em;
}

.illustration3 {
	grid-column: 3 / 5;
	grid-row: 4 / 5;
	padding-top: 1em;
	padding-bottom: 1em;
}

.etymology {
	grid-column: 3 / 5;
	grid-row: 5 / 6;
	background-color: #D7CCEC;
	padding: 1em;
}

.illustration4 {
	grid-column: 1 / 3;
	grid-row: 5 / 6;
	padding-top: 1em;
	padding-bottom: 1em;
}

.geology {
	grid-column: 1 / 3;
	grid-row: 6 / 7;
	background-color: #D7CCEC;
	padding: 1em;
}

.illustration5 {
	grid-column: 3 / 5;
	grid-row: 6 / 7;
	padding-top: 1em;
	padding-bottom: 1em;
}

.mountains-nav {
	position: inherit;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.mountains-nav ul {
	padding: 0;
	display: inline;
	flex-direction: row;
	grid-column: 1 / 2;
}

.mountains-nav li {
	list-style-type: none;
	flex: 3 1 300px;
	text-align: center;
}

.mountains-nav a {
	display: block;
	background: #625875;
	color: #fff;
	text-decoration: none;
	padding: 1em;
	transition: all 1s;
	font-size: 16px;
	margin-right: 2em;
	margin-left: 2em;
}

.mountains-nav a:hover {
	background: #4B4061;
	transition: all 2s;
}

/*WEATHER PAGE CSS*/
.w-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.1fr 0.2fr;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
}

.weatherbody {
	background-image: url("../img/blue-winter.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.weather-headline {
	text-shadow: 5px 3px 12px rgba(0,0,0,0.5);
	text-align: left;
	font-style: normal;
	color: white;
	font-size: 100px;
	line-height: 1em;
	padding-top: 10%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.conditions {
	grid-column: 1 / 5;
	grid-row: 2 / 3;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	border: 5px solid #D6EFFE;
	background: rgba(255,255,255,0.3);
}

.w-iframe {
	width: 100%;
	height: 900px;
}

.weatherhistory {
	background: #ffffff;
	padding: 10%;
	grid-column: 2 / 4;
	grid-row: 3 / 4;
	margin-top: 4em;
}

.tower-left {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
	margin-top: 4em;
	padding-right: 2em;
	padding-left: 2em;
}

.tower-right {
	grid-column: 4 / 5;
	grid-row: 3 / 4;
	margin-top: 4em;
	padding-right: 1em;
	padding-left: 2em;
}

.weather-nav {
	position: inherit;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.weather-nav ul {
	padding: 0;
	display: inline;
	flex-direction: row;
	grid-column: 1 / 3;
}

.weather-nav li {
	list-style-type: none;
	flex: 3 1 300px;
	text-align: center;
}

.weather-nav a {
	display: block;
	background: #426BA9;
	color: #fff;
	text-decoration: none;
	padding: 1em;
	transition: all 1s;
	font-size: 16px;
	margin-right: 2em;
	margin-left: 2em;
}

.weather-nav a:hover {
	background: #204072;
	transition: all 2s;
}

/*SEASONAL PHOTOS PAGE CSS*/
.s-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
}

.seasonalbody {
	background-image: url("../img/cairns.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.seasonalpage {
	grid-column: 2 / 5;
	text-shadow: 5px 3px 12px rgba(0,0,0,0.5);
}

.gallery1 {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery2 {
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery3 {
	grid-column: 2 / 3;
	grid-row: 4 / 5;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery4 {
	grid-column: 2 / 3;
	grid-row: 5 / 6;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery5 {
	grid-column: 3 / 4;
	grid-row: 2 / 3;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery6 {
	grid-column: 3 / 4;
	grid-row: 3 / 4;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery7 {
	grid-column: 3 / 4;
	grid-row: 4 / 5;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery8 {
	grid-column: 3 / 4;
	grid-row: 5 / 6;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery9 {
	grid-column: 4 / 5;
	grid-row: 2 / 3;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery10 {
	grid-column: 4 / 5;
	grid-row: 3 / 4;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery11 {
	grid-column: 4 / 5;
	grid-row: 4 / 5;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.gallery12 {
	grid-column: 4 / 5;
	grid-row: 5 / 6;
	padding: 1em;
	background-color: rgba(255, 255, 255, 0.5);
	margin: 1em;
}

.seasonal-headline {
	grid-column: 4 / 5;
	grid-row: 1 / 2;
	font-style: normal;
	color: white;
	font-size: 80px;
	line-height: 1em;
	padding-top: 10%;
	padding-bottom: 5%;
	padding-left: 10%;
	padding-right: 10%;
}

.seasonal-nav {
	position: inherit;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.seasonal-nav ul {
	padding: 0;
	display: inline;
	flex-direction: row;
	grid-column: 1 / 2;
}

.seasonal-nav li {
	list-style-type: none;
	flex: 3 1 300px;
	text-align: center;
}

.seasonal-nav a {
	display: block;
	background: #FAD2BC;
	color: black;
	text-decoration: none;
	padding: 1em;
	transition: all 1s;
	font-size: 16px;
	margin-right: 2em;
	margin-left: 2em;
}

.seasonal-nav a:hover {
	background: #F7E6DD;
	transition: all 2s;
}

/*ATTRACTIONS PAGE CSS*/
.a-container {
	display: grid;
	grid-template-columns: 1fr 1fr 0.1fr 1fr 1fr;
	grid-template-rows: 0.5fr 0.3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	width: 90%;
	max-width: 1200px;
}

.attractionsbody {
	background-image: url("../img/tracks.jpg");
	background-attachment: fixed;
	background-size: cover;
}

.visit {
	grid-column: 2 / 5;
	grid-row: 1 / 2;
	text-shadow: 5px 3px 12px rgba(0,0,0,0.5);
	font-size: 80px;
}

.railway {
	grid-column: 2 / 5;
	grid-row: 2 / 3;
	background-color: rgba(214, 239, 254, 0.8);
	color: black;
	padding: 2em;
}

.cog {
	grid-column: 2 / 5;
	grid-row: 3 / 4;
}

.purple {
	grid-column: 2 / 5;
	grid-row: 4 / 5;
	padding-top: 1em;
}

.ravine {
	grid-column: 2 / 5;
	grid-row: 5 / 6;
	background-color: rgba(214, 239, 254, 0.8);
	color: black;
	padding: 2em;
	margin-top: 6em;
}

.hike-video {
	grid-column: 2 / 3;
	grid-row: 6 / 7;
}

.ski-video {
	grid-column: 4 / 5;
	grid-row: 6 / 7;
}

.tucks-skiers {
	grid-column: 2 / 5;
	grid-row: 7 / 8;
	padding-top: 1em;
}

.attractions-nav {
	position: inherit;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.attractions-nav ul {
	padding: 0;
	display: inline;
	flex-direction: row;
	grid-column: 1 / 3;
}

.attractions-nav li {
	list-style-type: none;
	flex: 3 1 300px;
	text-align: center;
}

.attractions-nav a {
	display: block;
	background: white;
	color: #426BA9;
	text-decoration: none;
	padding: 1em;
	transition: all 1s;
	font-size: 16px;
	margin-right: 2em;
	margin-left: 2em;
}

.attractions-nav a:hover {
	background: #f0f0f0;
	transition: all 2s;
}

} /* end media query for larger screens */
